# .NET
**/bin/
**/obj/
.vs/

# Angular
**/node_modules/
**/dist/
**/.angular/
**/out-tsc/
**/coverage/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
